name: Deploy to Vertex AI

on:
  push:
    branches:
      - master  
  pull_request:
    branches:
      - master  # This will trigger on pull requests targeting the master branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install python-dotenv kfp google-cloud-aiplatform

      - name: Compile the pipeline
        run: |
          python your_script.py  # Replace with the name of your Python script

      - name: Run the pipeline
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}  # Set this secret in your GitHub repo
        run: |
          python src/gap_vertex.py  # Replace with the name of your Python script
